@import "../conf/*"
@import "../util/mixins/*"

.pp-simpleList
    list()
    &.spacing-s
        li
            padding-top 5px
    &.spacing-m
        li
            padding-top 10px
    &.spacing-l
        li
            padding-top 15px