$BodyText = #444444
$SubtleBodyText = #777777
$StrongBodyText = #262626
$DisabledText = #B1B1B1
$SiteTitle = #262626
$WebPartHeading = #444444
$ErrorText = #FF0000
$AccentText = #339933
$SearchURL = #358700
$Hyperlink = #339933
$Hyperlinkfollowed = #20AD95
$HyperlinkActive = #287A28
$CommandLinks = #666666
$CommandLinksSecondary = #262626
$CommandLinksHover = #339933
$CommandLinksPressed = #287A28
$CommandLinksDisabled = #B1B1B1
$BackgroundOverlay = #E5FFFFFF
$DisabledBackground = #FDFDFD
$PageBackground = #FFFFFF
$HeaderBackground = #D9F8F8F8
$FooterBackground = #CBEFEFEF
$SelectionBackground = #7F84D684
$HoverBackground = #7FCBEDCB
$RowAccent = #339933
$StrongLines = #7ED47E
$Lines = #ABABAB
$SubtleLines = #E5E5E5
$DisabledLines = #E1E1E1
$AccentLines = #3CB63C
$DialogBorder = #E5E5E5
$Navigation = #666666
$NavigationAccent = #339933
$NavigationHover = #339933
$NavigationPressed = #287A28
$NavigationHoverBackground = #7FCBEDCB
$NavigationSelectedBackground = #C6EFEFEF
$EmphasisText = #FFFFFF
$EmphasisBackground = #339933
$EmphasisHoverBackground = #2B872B
$EmphasisBorder = #2B872B
$EmphasisHoverBorder = #277927
$SubtleEmphasisText = #666666
$SubtleEmphasisCommandLinks = #262626
$SubtleEmphasisBackground = #C6EFEFEF
$TopBarText = #333333
$TopBarBackground = #CBEFEFEF
$TopBarHoverText = #333333
$TopBarPressedText = #333333
$HeaderText = #444444
$HeaderSubtleText = #777777
$HeaderDisableText = #B1B1B1
$HeaderNavigationText = #666666
$HeaderNavigationHoverText = #339933
$HeaderNavigationPressedText = #277927
$HeaderNavigationSelectedText = #339933
$HeaderLines = #ABABAB
$HeaderStrongLines = #7ED47E
$HeaderAccentLines = #3CB63C
$HeaderSubtleLines = #C6C6C6
$HeaderDisabledLines = #E1E1E1
$HeaderDisabledBackground = #FDFDFD
$HeaderFlyoutBorder = #D1D1D1
$HeaderSiteTitle = #262626
$SuiteBarBackground = #339933
$SuiteBarHoverBackground = #3FBE3F
$SuiteBarText = #FFFFFF
$SuiteBarDisabledText = #C6C6C6
$ButtonText = #444444
$ButtonDisabledText = #B1B1B1
$ButtonBackground = #FDFDFD
$ButtonHoverBackground = #CDEECD
$ButtonPressedBackground = #84D684
$ButtonDisabledBackground = #FDFDFD
$ButtonBorder = #ABABAB
$ButtonHoverBorder = #84D684
$ButtonPressedBorder = #3FBE3F
$ButtonDisabledBorder = #E1E1E1
$ButtonGlyph = #666666
$ButtonGlyphActive = #444444
$ButtonGlyphDisabled = #B1B1B1
$TileText = #FFFFFF
$TileBackgroundOverlay = #99000000
$ContentAccent1 = #339933
$ContentAccent2 = #FF0097
$ContentAccent3 = #996600
$ContentAccent4 = #F09609
$ContentAccent5 = #A200FF
$ContentAccent6 = #00ABA9
