.pp-modal {
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    boz-sizing: border-box;

    &.width-75 {
        width: 75%;
        margin-left: 12.5%;
        margin-right: 12.5%;
    }
    &.width-80 {        
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    &.width-85 {        
        width: 85%;
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
    &.width-90 {        
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}