.pp-modal {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    boz-sizing: border-box;

    &.pp-creationModal  {
        .pp-modal-inner {
            height: 225px;
            padding: 50px;
            box-sizing: border-box;
        }
        .pp-creationModalHeader {
            margin-bottom: 25px;
        }

        .ms-ProgressIndicator-itemProgress {
            overflow: hidden;    
        }
    }
}