#pp-newprojectlink
    a:hover
        text-decoration none
    .advanced
        background-color rgb(244, 244, 244)
        padding 10px
        margin 10px 0px 10px
.pp-newprojectdialog
    input, textarea
        padding: 0 12px 0 12px;