#pp-newprojectlink  ahover     
    text-decoration none


.pp-newProjectForm .ms-Dialog-main, .pp-newProjectForm
    min-width 400px
    input, textarea 
        padding 0 12px 0 12px
    

    .advanced-settings 
        .toggle-section 
            cursor pointer
            position relative
            padding 10px 0 5px 0
            span.ChevronUp, span.ChevronDown 
                position absolute
                right 5px
                top 14px
            
        
    
