.clear-search
        cursor: pointer
        padding: 5px
        margin-left 10px
        margin-bottom 10px
        line-height 18px
        > i
            margin-right 10px
            vertical-align: top;
            font-size 16px;

ul.gt-srch-paging#Paging
    display: block;
    list-style-type: none;
    margin: 5px 0 5px 0;
    padding: 0;
    text-align: left
    li
        display: inline-block;
        margin-right: 10px;