.gt-portfolio-page {
    width: 100%;

    #pp-dynamicportfolio {
        width: 100%;

        .ms-CommandBar {
            button {
                i.ms-Icon--ExcelDocument {
                    color: green;
                }
            }
        }
    }
}