@import "../conf/*";

$PortfolioColor = #0072c6

#pp-projectphases 
  width 100% 
  .projectPhaseHeading 
    display block 
    width 100% 
    float left 
    
  h2.gt-phaseHeading 
    width 137px 
    float left 
    margin 0 10px 10px 0 
    text-overflow initial 
    
  > div > ul 
    margin 0 20px 30px 0 
    padding 0 
    display flex 
    list-style-type square 
    overflow visible 
    clear both
    > li:before 
      display block 
      position absolute 
      top 35px 
      width 100% 
      height 1px 
      content '' 
      background-color $PortfolioColor 
      z-index 2 
      left 0      
    > li:after 
      display block 
      position absolute 
      top 35px 
      width 100% 
      height 1px 
      content '' 
      background-color $PortfolioColor 
      z-index 2      
    > li:hover .phaseLetter 
      border 1px solid #666666 
      background-color $SuiteBarBackground 
      color #ffffff      
    > li:hover .phaseCallout 
      display block 
      position absolute 
      top 58px 
      left -6px 
      height auto 
      max-height 200px
      z-index 15 
      background $SuiteBarBackground
      padding 15px
      border 0px solid #cccccc 
      box-shadow 3px 8px 12px #999999 
      color #eeeeee 
      min-width 240px 
      border-radius 2px 
      overflow visible 
      opacity 1 
      transition opacity 0.4s ease-in-out 0.3s     
    > li.last-phase:hover .phaseCallout 
      left initial
      right 0 
      &:before 
        left auto 
        right 13% 
      &:after 
        left auto 
        right 10% 
    > li:hover .phaseCallout:before 
      bottom 100% 
      left 10% 
      border solid transparent 
      content " " 
      height 0 
      width 0 
      position absolute 
      pointer-events none 
      z-index 200 
    > li:hover .phaseCallout:after 
      bottom 100% 
      left 10% 
      border solid transparent 
      content " " 
      height 0 
      width 0 
      position absolute 
      pointer-events none 
      z-index 200 
      border-color transparent 
      border-bottom-color $check-list-stats-bgcolor 
      border-width 12px 
      margin-left -12px 
    > li.selected 
      .phaseIcon:before, .phaseIcon:after 
        height 2px 
      .projectPhase 
        font-weight 600 
      .phaseLetter 
        border 1px solid $SuiteBarBackground
        background-color $SuiteBarBackground
        color #ffffff  
    > li.selected:hover .phaseLetter 
      border 1px solid #666666 
      background-color $profileblue 
      color #ffffff 
    > li        
      :after 
        right 0 
      &:hover 
        margin-bottom -12px 
    
      width auto 
      -ms-flex 1 
      -webkit-flex 1 
      -moz-flex 1 
      flex 1 
      display block 
      position relative 
      margin 0 
      text-decoration none 
      > a, > a:visited 
        position relative 
        width 100% 
        text-decoration none 
        color #333333 
        overflow hidden 
        display block 
       
      .phaseIcon 
        position relative 
        width 100% 
        height auto 
        float none                
        &:before 
          display block 
          position absolute 
          top 31px 
          width 100% 
          height 1px 
          content '' 
          background-color $SuiteBarBackground
          z-index 2 
          left 0 
        &:after 
          display block 
          position absolute 
          top 31px 
          width 100% 
          height 1px 
          content '' 
          background-color $SuiteBarBackground
          z-index 2 
          right 0     
       
      .projectPhase 
        width 68% 
        text-align left 
        float left 
        font-size 1rem 
        margin-top 3px 
        margin-bottom 15px 
        color $SuiteBarBackground
       
      .phaseCallout 
        opacity 0 
        overflow hidden 
        transition opacity 0.4s ease-in-out 0.2s 
        position absolute 
        height 0px 
        h3 
          color #eeeeee 
          padding-bottom 5px 
         
        ul 
          padding 0 
          margin 0 
          list-style none 
          li 
            display block 
            margin 0 
            padding 0 
            margin-top 5px 
            list-style-type none 
            list-style none 
            a 
              color #eeeeee 
              text-decoration none 
          li.spacer 
            height 10px           
      .phaseSubText 
        width 68% 
        font-size 0.7rem 
        text-transform none 
        text-align left 
        display block 
        float left 
        color #333333 
       
      .phaseLetter 
        border-radius 1000px 
        position relative 
        width 40px 
        height 40px 
        background-color #ffffff 
        display block 
        margin 10px 10px 0 0 
        float left 
        text-align center 
        z-index 100 
        line-height 38px 
        font-size 1.4rem 
        border 1px solid $SuiteBarBackground
        color $SuiteBarBackground

    > li.portfolio
      color $PortfolioColor
      
      .projectPhase 
        color $PortfolioColor

      .phaseLetter
        color $PortfolioColor
        border 1px solid $PortfolioColor

      &.selected .phaseLetter
        background-color $PortfolioColor
        color #ffffff

      .phaseIcon:before, .phaseIcon:after
        background-color none 
        height 0

      &:hover 
        .phaseLetter
          background-color $PortfolioColor
          border 1px solid #666666 
          color #ffffff
        .phaseCallout
          background-color $PortfolioColor