@import "../conf/*";

#pp-projectlist
    .container
        width 500px
        .searchBox input
            border none
            outline none
            padding 30px
            background-color #f4f4f4
        ul.list
            list-style-type none
            margin 25px 0 0 0
            padding 0
            .item
                display block
                height 80px
                box-sizing border-box
                margin 0 0 20px 0
                .phaseIcon 
                    display block
                    width 80px
                    height 80px
                    box-sizing border-box
                    padding 10px
                    margin 0 10px 0 0
                    float left
                    border-radius 50%
                    .phaseLetter
                        display block
                        font-size 28px
                        text-align center
                    .phaseName
                        display block
                        font-size 10px
                        text-transform uppercase
                        text-align center
