.pp-projectInfo {
    .pp-projectInfoInner {
        .prop {
            margin-bottom: 5px;    
        }
    }
    .pp-project-actions {
        > a {
            display: block;
            margin-top: 10px;
        }
    }
}