#pp-resourceAllocation {
    .react-calendar-timeline {
        .rct-sidebar {
            font-size: 12px;
        }
        .rct-sidebar-header {
            background: #fff;
        }
        .rct-header .rct-label {
            text-transform: inherit;
            background: #fff;
        }
    }  
}