@require "components/*";
@require "components/projectstatus/*";
@require "layout/*";
@require "vendor/*";

#contentBox .pp-project-page {
    .ms-microfeed-microblogpart, .ms-microfeed-fullMicrofeedDiv, .ms-microfeed-feedPart {
        min-width: 370px;
    }
}

#pp-resourceAllocation {
    width: 100%

    .ms-MessageBar {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .allocation-cmd-bar {
        max-width: 100%;    
    }
} 

.pp-projectInfo {
    .pp-projectInfoInner {
        .prop {
            margin-bottom: 5px;
        }
    }

    .pp-project-actions {
        > a {
            display: block;
            margin-top: 10px;
        }
    }
}

#pp-dynamicportfolio {
    height: calc(100vh - 195px);
    width: calc(100vw - 255px);

    div[class*='stickyAbove'] {
        overflow: hidden;
        overflow-x: hidden;
    }

    .ms-DetailsHeader {
        z-index: 2;
    }
}

.ms-fullscreenmode #pp-dynamicportfolio {
    width: calc(100vw - 90px)
}

 @media only print {
    .ms-ScrollablePane--contentContainer {
   	    overflow: visible;
    }
 }