@require "components/*";
@require "components/projectstatus/*";
@require "layout/*";
@require "vendor/*";

form[action*='ProjectHome.aspx']
    li.ms-cui-group[id='Ribbon.WebPartPage.Manage']
        display none

#contentBox .pp-project-page {
    .ms-microfeed-microblogpart, .ms-microfeed-fullMicrofeedDiv, .ms-microfeed-feedPart {
        min-width: 370px;
    }
}