@require "components/*";
@require "components/projectstatus/*";
@require "layout/*";
@import "../../node_modules/office-ui-fabric-react/dist/css/fabric.css"

form[action*='ProjectHome.aspx']
    li.ms-cui-group[id='Ribbon.WebPartPage.Manage']
        display none