@require "components/*";
@require "components/projectstatus/*";
@require "layout/*";
@require "vendor/*";

form[action*='ProjectHome.aspx']
    li.ms-cui-group[id='Ribbon.WebPartPage.Manage']
        display none

#contentBox .pp-project-page {
    .ms-microfeed-microblogpart, .ms-microfeed-fullMicrofeedDiv, .ms-microfeed-feedPart {
        min-width: 370px;
    }
}

#pp-resourceAllocation {
    width: 100%

    .ms-MessageBar {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .allocation-cmd-bar {
        max-width: 100%;    
    }
}