body {
    @media (max-width: 800px) {
        #sideNavBox {
            display: none;
        }

        #contentBox {
            margin-left: 20px;
        }
    }

    #Dropdown1-list0 {
        display: none;
    }

    .ms-Dialog.ms-Dialog--closenot(.ms-Dialog--lgHeader) .ms-Dialog-button.ms-Dialog-button--close {
        text-align: right;
    }

    .ms-dlgContent {
        position: fixed !important;
    }

    .ms-Callout {
        button {
            margin-left: 0 !important;
        }
    }
}