.budget-section {
    .economy-status {
        padding: 20px;

        .status-elements {
            display: flex;
            justify-content: space-between;

            .prop {
                flex: 0 1 auto;
                text-align: center;
            }
        }
    }
}