@import '../../conf/*';

.navigation {
    z-index: 99;

    .nav-status-container {
        background: #eff6fa;
        margin-bottom: 30px;
        height: 96px;

        .nav-links {
            list-style: none;
            padding: 0;

            .nav-link {
                padding: 9px 10px;
                text-decoration: none;
                cursor: pointer;
                text-align: center;

                &.active {
                    background-color: #939393;

                    .ms-Icon, span {
                        color: #fff;
                    }
                }

                .ms-Icon {
                    font-size: 25px;
                    color: #939393;
                    vertical-align: middle;
                }

                span {
                    color: #939393;                    
                    padding-left: 5px;
                    max-width: 130px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                @media (min-width: 1365px) {
                    min-width: 110px;
                }
            }
        }

        .nav-details {
            color: white;
            background: #939393;
            max-height: 50px;
            padding: 10px;

            h2 {
                color: white;
            }

            p {
                line-height: 48px;
                margin: 0;

                span {
                    vertical-align: top;
                }
            }

            .export-section {
                .ms-Icon.ms-Icon--History {
                    vertical-align: top;
                    margin-top: 9px;
                }

                .ms-Dropdown-container {
                    display: inline-block;
                    width: 90%;

                    .ms-Dropdown {
                        .ms-Dropdown-title {
                            border: 0;
                            background: none;
                            color: white;
                        }

                        i {
                            color: white;
                        }
                    }
                }

                .save-snapshot-btn {
                    cursor: pointer;
                    background-color: transparent;
                    color: #fff;
                    border: 0;

                    &:hover {
                        border: 0;
                    }
                }
            }
        }
    }

    .pp-snapshot-dialog {
        height: 900px;
        min-width: 1000px !important;
    }
}

#pp-reportDropdown-list0 {
    display: none;
}