
.progress-list {
    margin-top: 40px;

    .milestone {
        position: relative;
        border-bottom: 1px solid #c8d5dc;

        [data-automation-key='HemitProgressKey'] {
            text-align: center;

            .progress-key {
                border-radius: 50%;
                background-color: #eff6fa;
                height: 30px;
                width: 30px;

                &.negative {
                    background-color: #ea5c73;

                    span {
                        padding: 6px;
                        display: block;
                        color: #fff;
                    }
                }

                &.neutral {
                    background-color: #e9b359;

                    span {
                        padding: 6px;
                        display: block;
                        color: #fff;
                    }
                }

                span {
                    padding: 6px;
                    display: block;
                    color: #1C4269;
                }
            }
        }

        &.upcoming {
            background-color: #eff6fa;
            font-weight: 500;

            h3 {
                font-weight: 500;
            }

            .progress-key {
                &.positive {
                    background-color: #fff;

                    span {
                        padding: 6px;
                        display: block;
                        color: #035484;
                    }
                }

                &.neutral {
                    border-radius: 50%;
                    background-color: #e9b359;
                    height: 30px;
                    width: 30px;

                    span {
                        padding: 6px;
                        display: block;
                        color: #fff;
                    }
                }
            }
        }

        &.past {
            h1, h2, h3, p, span {
                color: darkgray;
            }
        }

        .ms-DetailsRow:hover {
            background: none;
        }

        .timeline {
            border-left: 1px solid #c8d5dc;
            height: 100%;
            position: absolute;
            left: 23px;
        }
    }

    .ms-DetailsList.is-horizontalConstrained {
        overflow-x: hidden;
    }

    button[disabled] {
        background-color: #fff !important;
    }

    .ms-GroupHeader, .ms-GroupHeader:hover {
        margin-left: -23px;
        background: white;
    }

    .ms-DetailsHeader {
        button[tabindex='0'] {
            display: none;
        }
    }

    .ms-GroupSpacer {
        width: auto !important;
    }

    .ms-GroupHeader-title {
        font-weight: 500;
    }
}