#pp-projectstatus {
    max-width: 1280px;

    .section {
        margin-top: 30px !important;
    }

    h1 {
        color: #1C4269;
    }
}

.ms-dialogMainReport {
    height: 900px;
    min-width: 800px !important;
}