#pp-projectstatus {
    max-width: 1280px;
    background-color: white;

    .status-report-container {
        width: 100%;

        .section {
            margin-top: 30px;
            width: 100%;
        }

        h1 {
            color: #1C4269;
            font-size: 2em;
        }
        #Dropdown1-list0 {
            display: none;
        }

        .ms-Dialog.ms-Dialog--closenot(.ms-Dialog--lgHeader) .ms-Dialog-button.ms-Dialog-button--close {
            text-align: right;
        }

        .ms-dlgContent {
            position: fixed !important;
        }

        .ms-Callout {
            button {
                margin-left: 0 !important;
            }
        }
        #pp-showPostActionLbl {
            color: #444444;
        }

        .field-section {
            .field-section-row {
                width: 80%;
                margin-left: 10%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .field-keyvalue {
                    min-width: 130px;
                    text-align: left;
                    margin-bottom: 20px;

                    .prop.Currency, .prop.Number, .prop.DateTime {
                        width: 130px;    
                    }
                    .prop.Text {
                        min-width: 200px;
                    }
                    .prop.Note {
                        min-width: 400px;    
                    }
                }
            }
        }
    }
}
.pp-snapshot-dialog {
    height: 900px;
    min-width: 1000px !important;

    #snapshot-container img {
        width: 90%;
        margin: 0 5% 0 5%;
    }
}

.ms-DetailsRow-cell {
    z-index: 1 !important;
    white-space: normal !important;
}