.section-header {
    padding: 20px 40px;
    background-color: #eff6fa;
    border-top: 5px solid #035484;

    h3 {
        text-transform: uppercase;
        color: #99A8AD;
    }

    .ms-Icon {
        font-size: 50px;

        &.positive-status {
            color: #2da748;
        }

        &.negative-status {
            color: #ea5c73;
        }

        &.neutral-status {
            color: #e9b359;
        }
    }

    .section-navigate-to {
        a, a:visited {
            text-decoration: none;
            color: #035484;
            display: block;
            text-align: center;
        }

        .ms-Icon {
            font-weight: bold;
        }
    }
}