.status-section {
    a, a:visited {
        color: #1C4269;
    }

    h3 {
        color: #99A8AD;
        text-transform: uppercase;
    }

    .ms-Icon {

        &.positive-status {
            color: #2da748;
        }

        &.negative-status {
            color: #ea5c73;
        }

        &.neutral-status {
            color: #e9b359;
        }
    }

    background-color: #eff6fa;

    .status-elements {
        .status-element {
            display: block;
            padding: 20px;
            cursor: pointer;

            .status-icons {
                font-size: 45px;
            }
        }
    }

    .status-project-data {

    }

    .status-columns-container {
        .status-elements {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: flex-start;

            .status-element {
                width: 50%;
            }
        }
    }
}