
.svg-icon {
    &.positive-status {
        padding: 10px;
        background-color: #2da748;
        border-radius: 50%;

        path, polygon {
            fill: #fff;
        }
    }

    &.negative-status {
        padding: 10px;
        border-radius: 50%;
        background-color: #ea5c73;

        path, polygon {
            fill: #fff;
        }
    }

    &.neutral-status {
        padding: 10px;
        border-radius: 50%;
        background-color: #e9b359;

        path, polygon {
            fill: #fff;
        }
    }

    &.positive-trend {
        path, polygon {
            fill: #2da748;
        }
    }

    &.negative-trend {
        path, polygon {
            fill: #ea5c73;
        }
    }

    &.neutral-trend {
        path, polygon {
            fill: #e9b359;
        }
    }

    &.large {
        width: 70px;
        height: 85px;
        padding: 30px 35px;
    }

    &.medium {
        height: 45px;
        width: 45px;
    }

    &.small {
        height: 25px;
        width: 25px;
    }

    &.no-status {
        margin-top: 10px;

        path, polygon {
            fill: #fff;
        }
    }
}